<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script data-ad-client="ca-pub-2196393703035889" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2W0XRJXYKQ"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2W0XRJXYKQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2W0XRJXYKQ');
</script>

<!-- Naver site tag -->
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "c8187e78700620";
    if(window.wcs) {
        wcs_do();
    }
</script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "c8187e78700620";
    if(window.wcs) {
        wcs_do();
    }
</script>

<!-- ======= Navbar ======= -->
<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">

        <div class="row align-items-start">
            <div class="col-md-2">
                <ul class="custom-menu">
                    <li class="active"><a href="index.html">Home</a></li>
                   <!-- <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>-->
                </ul>
            </div>
            <div class="col-md-6 d-none d-md-block  mr-auto">
                <div class="tweet d-flex">
                    <span class="icofont-twitter text-white mt-2 mr-3"></span>
                    <div>
                        <p><em>Beta 0.0.1 <br> <a th:href="@{/}">위스키를 즐겁게</a></em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <h3>연락처</h3>
                <p> <a href="#">qeqe3000@daum.net</a></p>

            </div>
        </div>

    </div>
</div>


<nav class="navbar navbar-light custom-navbar">

    <div class="container">
        <a class="navbar-brand" href="/">WIKIN</a>
        <div id="seach" class="search">
            <form th:action="@{/spirit/1/search}" method="GET">
                    <div class="container-1">
                       <span class="icon"><i class="fa fa-search" style="color: #005cbf"></i></span>
                        <input id="search" name="keyword" type="searc" placeholder="스피릿 이름으로 검색">
                    </div>
            </form>
        </div>




   <!--     <a href="#" class="burger" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
        </a>-->

    </div>
</nav>

</html>