<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="head" class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">KZKZZKKZKZKZKZ</a>
                        <a class="nav-pills">후에에ㅔㅇ</a>
                      <!--  <a class="navbar-brand" href="#" th:href="@{/scoreboards}">게시판</a>
                        <a class="navbar-brand" href="#" th:href="@{/datepicker}">빠른예약</a>
                        <a class="navbar-brand" href="#" th:href="@{/records}">순위표</a>
                        <a class="navbar-brand" href="#" th:href="@{/record/new}">점수등록</a>-->
                    </div>
                </div>
            </nav>

          <!--  <div class="jumbotron">
                <div class="row text-center">
                    <div class="">
                        <h2>KiKi Bowling</h2>
                    </div>
                </div>-->
                <!--  <div class="row text-center">
                      <img src="../../static/images/bowling.jpg" width="300" th:src="@{/images/bowling.jpg}"/>
                  </div>-->
            </div>

        </div>
    </div>
</html>