<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>위스키를 즐겁게</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favico.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <script data-ad-client="ca-pub-2196393703035889" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2W0XRJXYKQ"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2W0XRJXYKQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2W0XRJXYKQ');
    </script>
</head>

<body>
<header th:insert="fragments/header"></header>
<main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                    <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                       <!-- <p class="mb-0">위스키를 즐겁게</p>-->
                    </div>
                    <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
                        <div>
                            <!--<a href="#" data-filter="*" class="active">All</a>-->
                            <a class="vv" th:href="@{/spirit/1}" >Whiskey &nbsp</a>
                            <!--<a class="vv" th:href="@{/spirit/1}" >프로모션 &nbsp</a>-->
                         <!--   <a href="#" data-filter=".design">Wine</a>
                            <a href="#" data-filter=".branding">Brandy</a>
                            <a href="#" data-filter=".photography">Beer</a>-->
                            <!--<a th:href="@{/kakao_signup}">회원가입</a>-->
                        </div>

                        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                            <a th:href="@{/add_spirit}">스피릿 등록</a>
                            <a th:href="@{/add_price}">가격 등록</a>
                        </div>

                        <div th:if="${#authorization.expr('isAuthenticated()')}">
                            <h5 th:text="${#authentication.name}+'님 환영합니다.'"></h5>
                            <a th:href="@{/kakao/logout}">Logout</a>
                        </div>

                        <div th:unless="${#authorization.expr('isAuthenticated()')}">
                            <a th:href="@{/kakao/login}" style="color: white">로그인</a>
                        </div>


                    </div>
            </div>



               <!-- <th:block th:each="authority : ${#authentication.authorities}">
                    <div th:text="${authority}"></div>
                </th:block>
-->



            <!-- ======= Testimonials Section ======= -->
            <section class="section pt-0">
                <div class="container">

                    <div class="owl-carousel testimonial-carousel">
                        <!--default = 966 x  678-->
                        <div class="testimonial-wrap">
                            <div class="testimonial">
                                <img src="assets/img/mac22.png" alt="Image" class="img-fluid">
                            </div>
                        </div>

                        <div class="testimonial-wrap">
                            <div class="testimonial">
                                <img src="assets/img/mac22.png" alt="Image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End Testimonials Section -->

            <!-- 스피릿 리스트 시작-->
            <span></span>
            <h6 class="vv">Price Chart & Tasting Notes</h6>
            <h7>가격정보 및 테이스팅 노트</h7>
            <span></span>
            <div class="row">
                <div th:each="spirit : ${spiritIdx}" class=" item web col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a th:href="@{/spirit_view/{id}(id=${spirit.id})}" class="item-wrap fancybox">
                        <div class="work-info">
                            <h3 th:text="${spirit.spiritTitle}"></h3>
                            <!--<span th:text="${spirit.type}"></span> -->
                        </div>
                        <img class="img-thumbnail img-responsive" th:src="@{'/zzz/' +${spirit.spiritImg}}" alt="">
                    </a>
                    <div>
                        <div class="vvp" th:text="${spirit.type}"></div>
                        <!--<div class="vvp" th:text="${'점수'+ spirit.spiritScore +'점'}"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  Works Section -->




    <!-- ======= Clients Section ======= -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div class="credits">
                    <!--
                  FOOTER-->
                    <p class="mb-1">&copy;2021-2021 WIKIN Inc. All Rights Reserved </p>
                </div>
            </div>
           <!-- <div class="col-sm-6 social text-md-right">
                <a href="#"><span class="icofont-twitter"></span></a>
                <a href="#"><span class="icofont-facebook"></span></a>
                <a href="#"><span class="icofont-dribbble"></span></a>
                <a href="#"><span class="icofont-behance"></span></a>
            </div>-->
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>