<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${martList}" class="container my-5">
                <p class="my-5">
                    <a href="/martList/addMart" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Mart</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Mart yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>martName</th>
                                <th>martLoca</th>
                                <th>martPhone</th>
                                <th>martHours</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mart : ${martList}">
                                <td th:text="${mart.martName}"></td>
                                <td th:text="${mart.martLocation}"></td>
                                <td th:text="${mart.martPhone}"></td>
                                <td th:text="${mart.martHours}"></td>
                                <td><a th:href="@{/martList/edit/{id}(id=${mart.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/martList/delete/{id}(id=${mart.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                <td>
                                    <form th:action="@{/switchMartStatus/{id}(id=${mart.id})}">
                                    <input type="checkbox" name="martStatus" th:checked="${mart.martStatus}"/>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function changeStatus(){



    }


</script>
</body>

</html>