<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        $( document ).ready(function() {
            $.ajax({
                url:'http://localhost:8080/apitest',
                type:'POST',
                data: {
                    Name:'ajax',
                    Age:'10'
                },
                dataType:'text', // 리턴해주는 타입을 지정해줘야함
                beforeSend:function(jqXHR) {
                    console.log("ajax호출전");
                },// 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
                success: function(data) {
                    console.log("호출성공");
                    console.log(JSON.parse(data));
                },// 요청 완료 시
                error:function(jqXHR) {
                    console.log("실패입니다.");
                }// 요청 실패.
            });
        });
    </script>

    <script>


        var dataz = [];
        var data2 = [];
        var prev = 100;
        var prev2 = 80;
        for (var i = 0; i < 1000; i++) {
            prev += 5 - Math.random() * 10;
            dataz.push({x: i, y: prev});
            prev2 += 5 - Math.random() * 10;
            data2.push({x: i, y: prev2});
        }

        console.log(i +'ddd');
        var totalDuration = 100;
        var delayBetweenPoints = totalDuration / dataz.length;
        var previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
        var animation = {
            x: {
                type: 'number',
                easing: 'linear',
                duration: delayBetweenPoints,
                from: NaN, // the point is initially skipped
                delay(ctx) {
                    if (ctx.type !== 'data' || ctx.xStarted) {
                        return 0;
                    }
                    ctx.xStarted = true;
                    return ctx.index * delayBetweenPoints;
                }
            },
            y: {
                type: 'number',
                easing: 'linear',
                duration: delayBetweenPoints,
                from: previousY,
                delay(ctx) {
                    if (ctx.type !== 'data' || ctx.yStarted) {
                        return 0;
                    }
                    ctx.yStarted = true;
                    return ctx.index * delayBetweenPoints;
                }
            }
        };

        var ctx = document.getElementById('myChart');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    borderColor: 'red',
                    borderWidth: 1,
                    radius: 0,
                    data: dataz,
                }]
            },
            options: {
                animation,
                interaction: {
                    intersect: false
                },
                plugins: {
                    legend: false
                },
                scales: {
                    x: {
                        type: 'linear'
                    }
                }
            }
        })
    </script>
</head>
<body>
스프링부트 테스트입니다.
</body>
</html>
